<nav class="navigation">
			<div class="nav-bar">
		  <div class="nav-wrapper">
		  <a class="nav-bar__link material-bubble" href="/">Home</a>
	         <a class="nav-bar__link material-bubble" href="/profiles">Profiles</a>
	         <a class="nav-bar__link material-bubble" href="/addProfile">Add Profile</a>
	         <a class="nav-bar__link material-bubble" href="/">Docs</a>
          </div>
		</div>
	</div>
</nav>

	<div class='wrapper'>
	
	    

	
<div class="add-profile">
	
		<form class="add-profile__form" method="POST" action="/addProfile">
		    <input class="dupa"  type="text" name="name" value="Name">
		    <input class="dupa" type="text" name="size" value="100">
		    <input class="dupa" type="text" name="quality" value="100">
			<input class="dupa" type="hidden" name="waterMark" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
			<input class="dupa" type="hidden" name="logo" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
		    <input class="dupa" type="submit" value="add">
		</form>
 </div>

	<div class="delete-profile">
			<form method="post" action="/addProfile?_method=DELETE">
		     <input type="hidden" name="_method" value="delete">
			 {{#each profilesList}}
		        <div>
			     <input type="checkbox" name="test" value='{{this._id}}'>
			      <p>{{this._id}}</p>
			      <p>{{this.name}}</p>
			      <p>{{this.size}}</p>
			      <p>{{this.quality}}</p>
			      <p>{{this.waterMark}}</p>
			      <p>{{this.logo}}</p>
			    </div>
	         {{/each}}
	        <input type="submit" value="dupa">
	    </form>
	</div>
	
</div>
